.nav {
    font-size: larger;
}

.fiveDay {
    background-color: lightblue;
    color: black;
margin: 1%;
padding: 1%;
color: white;
}

.dashboard {
    font-size: x-large;
    align-content: center;
    text-align: center;
}

#uvCurrent {
    background-color: white;
}